USE [master]
GO
/****** Object:  Database [ArticlesManager]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE DATABASE [ArticlesManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArticlesManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.G3\MSSQL\DATA\ArticlesManager.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ArticlesManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.G3\MSSQL\DATA\ArticlesManager_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArticlesManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArticlesManager]
GO
/****** Object:  Table [dbo].[__MigrationHistory2]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory2](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ArticleBlocks]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleBlocks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ArticleId] [bigint] NOT NULL,
	[BlockTypeId] [bigint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[OnCreated] [datetime] NOT NULL,
	[OnModified] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_ArticleBlocks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArticleBlocksComment]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleBlocksComment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ArticleBlockId] [bigint] NOT NULL,
	[Description] [nvarchar](128) NOT NULL,
	[OnCreated] [datetime] NOT NULL,
	[OnModified] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_ArticleBlocksComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArticleReviews]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleReviews](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReviewerId] [nvarchar](128) NOT NULL,
	[ArticleId] [bigint] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[OnCreated] [datetime] NOT NULL,
	[OnModified] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_ArticleReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Articles]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[SubTitle] [nvarchar](1024) NULL,
	[OnCreated] [datetime] NOT NULL,
	[OnModified] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[ModifiedBy] [nvarchar](128) NOT NULL,
	[IsReadyToPublish] [bit] NOT NULL CONSTRAINT [DF_Articles_IsReadyToPublish]  DEFAULT ((0)),
	[IsReadyToReview] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Guid] [nvarchar](256) NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArticleTags]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleTags](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ArticleId] [bigint] NOT NULL,
	[TagId] [bigint] NOT NULL,
 CONSTRAINT [PK_ArticleTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](1024) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlockType]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockType](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_BlockType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SiteMeta]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteMeta](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SiteMeta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTags]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTags](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](256) NOT NULL,
	[TagId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[ArticleView]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ArticleView] AS
SELECT dbo.Articles.*,dbo.AspNetUsers.Name CreatedByName,dbo.AspNetUsers.Email CreatedByEmail
FROM dbo.Articles INNER JOIN dbo.AspNetUsers ON dbo.Articles.CreatedBy = dbo.AspNetUsers.Id
GO
SET IDENTITY_INSERT [dbo].[ArticleBlocks] ON 

INSERT [dbo].[ArticleBlocks] ([Id], [ArticleId], [BlockTypeId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (1, 1, 1, N'This is a fact', CAST(N'2019-08-18 22:47:43.003' AS DateTime), CAST(N'2019-08-18 22:47:43.007' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
INSERT [dbo].[ArticleBlocks] ([Id], [ArticleId], [BlockTypeId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (2, 1, 2, N'This is assumption
', CAST(N'2019-08-18 22:52:29.997' AS DateTime), CAST(N'2019-08-18 22:52:29.997' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
INSERT [dbo].[ArticleBlocks] ([Id], [ArticleId], [BlockTypeId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (3, 1, 3, N'this is analysis
', CAST(N'2019-08-18 22:52:45.587' AS DateTime), CAST(N'2019-08-18 22:52:45.587' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
SET IDENTITY_INSERT [dbo].[ArticleBlocks] OFF
SET IDENTITY_INSERT [dbo].[ArticleBlocksComment] ON 

INSERT [dbo].[ArticleBlocksComment] ([Id], [ArticleBlockId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (1, 1, N'this face block comment 1 .....', CAST(N'2019-08-18 23:21:37.557' AS DateTime), CAST(N'2019-08-18 23:21:37.557' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
INSERT [dbo].[ArticleBlocksComment] ([Id], [ArticleBlockId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (2, 1, N'this fact comment 2
', CAST(N'2019-08-18 23:22:09.820' AS DateTime), CAST(N'2019-08-18 23:22:09.820' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
INSERT [dbo].[ArticleBlocksComment] ([Id], [ArticleBlockId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (3, 2, N'test 2
comment 2', CAST(N'2019-08-27 17:50:46.510' AS DateTime), CAST(N'2019-08-27 17:50:46.510' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
SET IDENTITY_INSERT [dbo].[ArticleBlocksComment] OFF
SET IDENTITY_INSERT [dbo].[ArticleReviews] ON 

INSERT [dbo].[ArticleReviews] ([Id], [ReviewerId], [ArticleId], [Description], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy]) VALUES (1, N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', 1, N'This is a very  awesome article. I just love it', CAST(N'2019-08-19 00:00:57.547' AS DateTime), CAST(N'2019-08-19 00:00:57.547' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd')
SET IDENTITY_INSERT [dbo].[ArticleReviews] OFF
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([Id], [Title], [SubTitle], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy], [IsReadyToPublish], [IsReadyToReview], [IsDeleted], [Guid]) VALUES (1, N'Weather Article', N'This is a weather article', CAST(N'2019-08-18 22:19:58.487' AS DateTime), CAST(N'2019-08-18 22:19:58.487' AS DateTime), N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', 0, 1, 0, NULL)
INSERT [dbo].[Articles] ([Id], [Title], [SubTitle], [OnCreated], [OnModified], [CreatedBy], [ModifiedBy], [IsReadyToPublish], [IsReadyToReview], [IsDeleted], [Guid]) VALUES (2, N'Tagheir Article', N'it Tagheir and this is my first article', CAST(N'2019-08-19 01:26:08.413' AS DateTime), CAST(N'2019-08-19 01:26:08.413' AS DateTime), N'8ea5a279-0165-4615-a313-e1bfe3180e39', N'8ea5a279-0165-4615-a313-e1bfe3180e39', 0, 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Articles] OFF
SET IDENTITY_INSERT [dbo].[ArticleTags] ON 

INSERT [dbo].[ArticleTags] ([Id], [ArticleId], [TagId]) VALUES (1, 1, 1)
INSERT [dbo].[ArticleTags] ([Id], [ArticleId], [TagId]) VALUES (2, 2, 1)
INSERT [dbo].[ArticleTags] ([Id], [ArticleId], [TagId]) VALUES (3, 1, 2)
SET IDENTITY_INSERT [dbo].[ArticleTags] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1d683121-8d11-4986-8887-3aa228ea395e', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'248ab31f-6dc9-4a38-aec1-3b25e1f90ad3', N'Reader')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'd0669015-d0d7-4409-9c02-a74eab16de37', N'Reviewer')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'1d683121-8d11-4986-8887-3aa228ea395e')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'18786302-fe67-4c24-a446-0b4b2783ce63', N'248ab31f-6dc9-4a38-aec1-3b25e1f90ad3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'61bc1fd4-d738-4498-a276-b017cd515781', N'd0669015-d0d7-4409-9c02-a74eab16de37')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'18786302-fe67-4c24-a446-0b4b2783ce63', N'tagheirmughal@gmail.com', 0, N'AEor5vfUVOIzRB5a3rNeViXO2j1NatDxZxONM5dY8AJ750ok8Gs+GU1L7XedFtK8Ug==', N'0302de80-ed64-442c-a854-840d93880570', N'', 0, 0, NULL, 0, 0, N'tagheirmughal@gmail.com', N'Hisham')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'1e153076-6aa2-4ccf-9bc3-dfadd88e64fd', N'tagheir@gmail.com', 0, N'AJtk0cNLzY7jgOKx55DIFstHQ79eJmquGJ1NpwdnH0bUbhymPjU51Ckf3TYhjarcJQ==', N'1381cbdf-3192-4f13-ac8f-bd67f9a064cc', N'', 0, 0, NULL, 0, 0, N'tagheir@gmail.com', N'Hisham Mughal')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Name]) VALUES (N'61bc1fd4-d738-4498-a276-b017cd515781', N'hisham@octacer.com', 0, N'AHhSufjE8+g347FRvHMgvk0+obC8oCaAkmnib0A6OrpCfGmsv61jy1HvhHxAVKkYwg==', N'a94a64c9-4b81-4786-a68e-9cd272b087d2', N'', 0, 0, NULL, 1, 0, N'hisham@octacer.com', N'Hisham Asghar')
SET IDENTITY_INSERT [dbo].[BlockType] ON 

INSERT [dbo].[BlockType] ([Id], [Name]) VALUES (1, N'Fact')
INSERT [dbo].[BlockType] ([Id], [Name]) VALUES (2, N'Assumption')
INSERT [dbo].[BlockType] ([Id], [Name]) VALUES (3, N'Analysis')
SET IDENTITY_INSERT [dbo].[BlockType] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [Name]) VALUES (1, N'Tag1')
INSERT [dbo].[Tags] ([Id], [Name]) VALUES (2, N'Tag2')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 9/11/2019 2:58:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ArticleBlocks]  WITH CHECK ADD  CONSTRAINT [FK_ArticleBlocks_Articles] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[ArticleBlocks] CHECK CONSTRAINT [FK_ArticleBlocks_Articles]
GO
ALTER TABLE [dbo].[ArticleBlocks]  WITH CHECK ADD  CONSTRAINT [FK_ArticleBlocks_BlockType] FOREIGN KEY([BlockTypeId])
REFERENCES [dbo].[BlockType] ([Id])
GO
ALTER TABLE [dbo].[ArticleBlocks] CHECK CONSTRAINT [FK_ArticleBlocks_BlockType]
GO
ALTER TABLE [dbo].[ArticleBlocksComment]  WITH CHECK ADD  CONSTRAINT [FK_ArticleBlocksComment_ArticleBlocks] FOREIGN KEY([ArticleBlockId])
REFERENCES [dbo].[ArticleBlocks] ([Id])
GO
ALTER TABLE [dbo].[ArticleBlocksComment] CHECK CONSTRAINT [FK_ArticleBlocksComment_ArticleBlocks]
GO
ALTER TABLE [dbo].[ArticleBlocksComment]  WITH CHECK ADD  CONSTRAINT [FK_ArticleBlocksComment_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ArticleBlocksComment] CHECK CONSTRAINT [FK_ArticleBlocksComment_AspNetUsers]
GO
ALTER TABLE [dbo].[ArticleBlocksComment]  WITH CHECK ADD  CONSTRAINT [FK_ArticleBlocksComment_AspNetUsers1] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ArticleBlocksComment] CHECK CONSTRAINT [FK_ArticleBlocksComment_AspNetUsers1]
GO
ALTER TABLE [dbo].[ArticleReviews]  WITH CHECK ADD  CONSTRAINT [FK_ArticleReviews_Articles] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[ArticleReviews] CHECK CONSTRAINT [FK_ArticleReviews_Articles]
GO
ALTER TABLE [dbo].[ArticleReviews]  WITH CHECK ADD  CONSTRAINT [FK_ArticleReviews_AspNetUsers] FOREIGN KEY([ReviewerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ArticleReviews] CHECK CONSTRAINT [FK_ArticleReviews_AspNetUsers]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_AspNetUsers] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_AspNetUsers]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Creator] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Creator]
GO
ALTER TABLE [dbo].[ArticleTags]  WITH CHECK ADD  CONSTRAINT [FK_ArticleTags_Articles] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[ArticleTags] CHECK CONSTRAINT [FK_ArticleTags_Articles]
GO
ALTER TABLE [dbo].[ArticleTags]  WITH CHECK ADD  CONSTRAINT [FK_ArticleTags_Tags] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
GO
ALTER TABLE [dbo].[ArticleTags] CHECK CONSTRAINT [FK_ArticleTags_Tags]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[GetArticle]    Script Date: 9/11/2019 2:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hisham Asghar
-- Create date: 08-27-2019
-- Description:	Get Article By Id
-- =============================================
CREATE PROCEDURE [dbo].[GetArticle] 
	-- Add the parameters for the stored procedure here
	@articleId int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT (SELECT 
    *,
    (SELECT *,
		(SELECT *
		 FROM 
			 dbo.ArticleBlocksComment ArticleBlocksComment
			 WHERE ArticleBlock.Id = ArticleBlocksComment.ArticleBlockId
		 FOR XML AUTO, TYPE) AS 'ArticleBlocksComments'

     FROM 
         (SELECT 
		 dbo.ArticleBlocks.Id
		 ,dbo.BlockType.Name AS BlockTypeName
		 ,dbo.BlockType.Id AS BlockTypeId
		  ,[ArticleId]
		  ,[Description]
		  ,[OnCreated]
		  ,[OnModified]
		  ,[CreatedBy]
		  ,[ModifiedBy]
		  ,[Name]
		  
		 FROM dbo.ArticleBlocks INNER JOIN dbo.BlockType ON dbo.BlockType.Id = dbo.ArticleBlocks.BlockTypeId)  ArticleBlock
		 WHERE Article.Id = ArticleBlock.ArticleId
     FOR XML AUTO, TYPE) AS 'ArticleBlocks',
    (SELECT *
     FROM 
         dbo.ArticleTags ArticleTag
		 WHERE Article.Id = ArticleTag.ArticleId
     FOR XML AUTO, TYPE) AS 'ArticleTags',
    (SELECT *
     FROM 
         dbo.ArticleReviews ArticleReview
		 WHERE Article.Id = ArticleReview.ArticleId
     FOR XML AUTO, TYPE) AS 'ArticleReviews'
FROM 
    dbo.Articles Article WHERE Id = 1
FOR XML AUTO , TYPE, ROOT('Articles')) AS Result

END

GO
USE [master]
GO
