@model IEnumerable<LayerDb.Models.Tag>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            @if (item.Name == Website.Models.Constants.GetDefaultDatabase())
            {
                <span class="label label-success">default</span>
            }
        </td>
        <td>
            <a href="/Tags/UpdateDefaultDatabase?name=@item.Name">Set as Default</a> |
            <a href="/ArticleManagerViews/Index/@item.Name">View Articles</a> |
            <a href="/UsersAdmin/Index/@item.Name">View Users</a>
        </td>
    </tr>
}

</table>
